# Configurações do Servidor
PORT=3000
NODE_ENV=production

# Senha para o login do admin
ADMIN_PASSWORD=your-admin-password

# Chave secreta para assinar os tokens JWT
JWT_SECRET=your-jwt-secret-key

# Configurações AWS S3
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_REGION=sa-east-1
AWS_BUCKET_NAME=your-bucket-name

# Banco de Dados
DB_HOST=localhost
DB_USER=root
DB_NAME=futlendas_dev
DB_PASSWORD=your-db-password
DB_PORT=3306

# URLs
FRONTEND_URL=http://localhost:5173
APP_URL=http://localhost:8000
APP_ENV=development

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=https://your-domain.com/api/auth/google/callback

# SMTP
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USER=your-smtp-user@your-domain.com
SMTP_PASS=your-smtp-password
SMTP_FROM_NAME=Futlendas
